{# @param entry Entry set by Craft #}
{# @param image Asset optional #}
{# @param showHeader Bool Show header #}

{% set showHeader = showHeader is defined ? showHeader : true %}

<div class="my-8 max-w-screen-xl mx-auto px-4 sm:px-8">

    {% block header %}
        {% if showHeader %}
            {% include '_layouts/partials/page-header.twig' with {
                entry,
                image: image ?? null
            } only %}
        {% endif %}
    {% endblock %}

    {% block contentTop %}{% endblock %}

    {% block content %}{% endblock %}

    {% block contentBottom %}{% endblock %}
</div>