{# Narrow content container with header/content default blocks #}

{# @param entry Entry set by Craft #}
{# @param alignTitle String left/center #}
{# @param showHeader Bool Show header #}

{% set showHeader = showHeader is defined ? showHeader : true %}

<div class="my-8 max-w-screen-md mx-auto px-4 sm:px-8">

    {% block header %}
        {% if showHeader %}
            {% include '_layouts/partials/page-header.twig' with {
                entry,
                alignTitle: alignTitle ?? 'left'
            } only %}
        {% endif %}
    {% endblock %}

    {% block contentTop %}{% endblock %}

    {% block content %}
        {% if entry.bodyContent %}
            {% include '_layouts/partials/content-blocks.twig' with {
                query: entry.bodyContent,
                constrain: false
            } only %}
        {% endif %}
    {% endblock %}

    {% block contentBottom %}{% endblock %}

</div>