{# Renders grid layout #}

{# @param wide Bool responsive for wide layout default true #}

{% set wide = wide is defined ? wide : true %}

{% set classes = wide ?
    'grid grid-cols-1 gap-y-10 gap-x-6 xs:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 xl:gap-x-8' :
    'grid grid-cols-2 gap-y-10 gap-x-6'
%}

<div class="{{ classes }}">
    {% block content %}{% endblock %}
</div>