{# Tailwind prose section with custom colors #}

{# @param extraClasses String classes to be added #}

{% set extraClasses = extraClasses ?? '' %}

<div class="{{ extraClasses }} prose prose-custom prose-lg prose-h2:font-headings  prose-h2:text-4xl prose-h2:tracking-wider prose-h3:text-3xl prose-h3:font-semibold prose-h4:text-2xl prose-h4:font-semibold dark:prose-invert">
    {% block content %}{% endblock %}
</div>