{# Tailwind prose section with custom colors #}

{# @param extraClasses String classes to be added #}

{% set extraClasses = extraClasses ?? '' %}

<div class="{{ extraClasses }} prose prose-custom prose-lg prose-h2:font-headings prose-h2:font-semibold prose-h2:text-4xl prose-h3:text-3xl prose-h3:font-normal dark:prose-invert">
    {% block content %}{% endblock %}
</div>