{# @param heading String Widget heading #}

<div class="mb-12">
    <div class="px-4 py-2 bg-footer-background text-lg font-semibold text-white dark:bg-gray-300 dark:text-black">
        {{ heading }}
    </div>

    <div class="pt-4">
        {% block content %}{% endblock %}
    </div>
</div>