{# Get data for faq's and call alpine component #}

{% set faqs = query.collect %}

{% if faqs.count %}
    <div>
        {% include '_layouts/components/alpinejs/accordion.twig' with {
            items: faqs|map(faq => {heading: faq.question, panel: faq.answer|md|purify})
        } only %}
    </div>
{% endif %}