{% set preferredLanguage = currentUser.preferredLanguage[:2] %}

<div class="guide">
    {% include [
        template,
        "_guides/#{preferredLanguage}/#{template}",
        "_guides/#{template}",
        "guide/_guides/#{preferredLanguage}/#{template}",
        "guide/_guides/#{template}",
        "guide/placeholder.twig"
    ] %}
</div>

<style>
.guide h1 {
    font-size: 20px;
}

.guide h1, .guide h2 {
    color: var(--red-700)
}

.guide ul {
    list-style: disc;
    padding-left: 18px;
}

.guide ul li {
    margin: 6px 0;
}

</style>