{% if entry.section.handle in craft.app.config.custom.showGuides.sections %}
    <button type="button" onclick="showGuide('{{ "content/#{entry.section.handle}" }}')" class="btn">Guide</button>
{% endif %}

{% js %}
function showGuide(template) {
    st_openSlideout('guide/content/show', {template: template})
}
{% endjs %}