
{% if entry.section.handle in craft.app.config.custom.showGuides.sections %}
    <div class="guide-btn">
        <button type="button" onclick="showGuide('{{ "content/#{entry.section.handle}" }}')" class="btn">Guide</button>
    </div>
{% endif %}

