{% set entries = query.collect %}


<div class="space-y-20">
    {% for entry in entries %}

        {% if craft.app.request.isPreview and currentUser %}
            {% set draft = craft.entries.draftOf(entry.id).provisionalDrafts(true).draftCreator(currentUser).one %}
            {% if draft %}
                {% set entry = draft %}
            {% endif %}
        {% endif %}

        <div>

            {% switch entry.section.handle %}

            {% case "heroArea" %}

                {% include '_layouts/partials/hero-area-display.twig' with {
                    entry
                } only %}

            {% default %}
                {% include [
                    "_partials/contentcomponents/#{entry.section.handle}_#{entry.type.handle}.twig",
                    "_partials/contentcomponents/#{entry.section.handle}.twig"
                ] with {
                    entry
                } only %}
            {% endswitch %}
        </div>
    {% endfor %}
</div>