{# @param entry Entry Current entry #}
{# @param criteria Object Criteria that sets filter/order of entries #}

{% set next = entry.next(criteria) %}
{% set prev = entry.prev(criteria) %}

{% if next or prev %}
    <div class="mt-12 border-t pt-4 flex justify-between border-t pt-4 space-x-4">
        <div class="flex space-x-2 items-center">
            {% if prev %}
                {{ svg('@templates/_icons/chevron-left.svg') }} {{ prev.link }}
            {% endif %}
        </div>
        <div class="text-right flex space-x-2 items-center">
            {% if next %}
                {{ next.link }}&nbsp;{{ svg('@templates/_icons/chevron-right.svg') }}
            {% endif %}
        </div>
    </div>
{% endif %}