{# @param entry Entry Current entry #}
{# @param criteria Object Criteria that sets filter/order of entries #}

{% from '_layouts/macros/lib.twig' import linkWithIcon %}

{% set next = entry.next(criteria) %}
{% set prev = entry.prev(criteria) %}

{% if next or prev %}
    <div class="mt-12 border-t pt-4 flex justify-between border-t pt-4 space-x-4">
        <div>
            {{ linkWithIcon(prev, 'chevron-left') }}
        </div>

        <div>
            {{ linkWithIcon(next, 'chevron-right', 'right') }}
        </div>
    </div>
{% endif %}