{# @param entry Entry Current entry #}

{% from '_layouts/macros/lib.twig' import linkWithIcon %}

{% set showNav = entry.showStructureNavigation %}
{% set isRoot = false %}
{% if showNav %}
    {% set isRoot = true %}
{% else %}
    {% set showNav = entry.ancestors.showStructureNavigation(1).exists %}
{% endif %}

{% if showNav %}
    {% set next = entry.nextSibling %}
    {% set prev = entry.prevSibling %}
    {% set children = entry.children.collect() %}

    {% if next or prev %}
        <nav class="my-12 border-t pt-4 grid md:grid-cols-3 gap-4 border-t pt-4 space-x-4 rtl:space-x-reverse">
            <div>
                {{ linkWithIcon(prev, 'chevron-left') }}
            </div>

            <div class="space-y-2 text-center">
                {% if entry.level > 1 %}
                    {% if entry.parent.type != 'home' %}
                        {{ linkWithIcon(entry.parent, 'chevron-up')|attr({class: 'mb-8'}) }}
                    {% endif %}
                {% endif %}

                {% for child in children %}
                    {{ linkWithIcon(child, 'chevron-down') }}
                {% endfor %}
            </div>
            <div class="flex justify-end">
                {% if next and next.level > 1 and not isRoot %}
                    {{ linkWithIcon(next, 'chevron-right', 'right') }}
                {% endif %}
            </div>
        </nav>
    {% endif %}
{% endif %}