{% set showNav = entry.showStructureNavigation %}
{% set isRoot = false %}
{% if showNav %}
    {% set isRoot = true %}
{% else %}
    {% set showNav = entry.ancestors.showStructureNavigation(1).exists %}
{% endif %}

{% if showNav %}
    {% set next = entry.nextSibling %}
    {% set prev = entry.prevSibling %}
    {% set children = entry.children.all %}

    {% if next or prev %}
        <div class="mt-12 border-t pt-4 grid md:grid-cols-3 gap-4 border-t pt-4 space-x-4">
            <div>
                {% if prev and prev.level > 1 and not isRoot %}
                    &larr;&nbsp;{{ prev.link }}
                {% endif %}
            </div>

            <div class="space-y-2">
                {% if entry.level > 1 %}
                    {% if entry.parent.type != 'home' %}
                        <div class="pb-4">
                            &uparrow; {{ entry.parent.link }}
                        </div>
                    {% endif %}
                {% endif %}
                {% for child in children %}
                    <div>
                        &downarrow; {{ child.link }}
                    </div>
                {% endfor %}
            </div>

            <div class="text-right">
                {% if next and next.level > 1 and not isRoot %}
                    {{ next.link }}&nbsp;&rarr;
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endif %}