{# Display flash messages from last submission #}
{% set session = craft.app.session %}

{% if session.hasFlash('notice') %}
    <div class="bg-gray-700 p-4 rounded-md mb-8 text-white dark:bg-primary">
        <span>{{ session.getFlash('notice')|t }}</span>
    </div>
{% elseif session.hasFlash('error') %}
    <div class="bg-warning p-4 rounded-md mb-8 text-white">
        <span>{{ session.getFlash('error')|t }}</span>
    </div>
{% endif %}