{# Display flash messages from last submission #}
{% set session = craft.app.session %}

{% if session.hasFlash('notice') %}
    <div class="bg-success p-4 rounded-md mb-8 text-white">
        <span>{{ session.getFlash('notice')|t }}</span>
    </div>
{% elseif session.hasFlash('error') %}
    <div class="bg-error p-4 rounded-md mb-8 text-white">
        <span>{{ session.getFlash('error')|t }}</span>
    </div>
{% endif %}