{# @param imagesByCopyright Collection collection of images grouped by copyright text #}

{% from '_layouts/macros/lib.twig' import img %}

<div class="py-4">
    <div class="font-semibold text-sm">
        {{ 'Copyright for images'|t }}
    </div>

    <div class="mt-4 flex flex-wrap">
        {% for copyright, imagesForCopyright in imagesByCopyright %}
            <div class="mb-4 me-8 flex items-center">
                <div class="flex flex-wrap">
                    {% for image in imagesForCopyright %}
                        {{ img(image, {
                            transform: {width: 60, height: 40},
                            handleCopyright: 'none'
                        }) }}
                    {% endfor %}
                </div>
                <div class="ms-2 text-sm whitespace-nowrap">
                    {{ copyright }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% do request.forget('imagesForCopyrightNotice') %}