{# Displays hero area with optional CTA button #}

{# @param entry Entry the entry to display #}
{# @param alternatevly individual parameters can be passed #}

{# @param image Asset Background image #}
{# @param title String Title text #}
{# @param text String Text #}
{# @param buttons Array buttons with url, caption, primary #}
{# @param teaser String optional Small text above Title #}

{% if entry is defined %}
    {% if buttons is not defined and entry.buttons %}
        {% set buttons = entry.buttons.collect|map(button => {
            url: button.target.one.url ?? '',
            caption: button.caption ?? button.target.one.title ?? 'Read more'|t,
            primary: button.primary
        }) %}
    {% endif %}

    {% set buttons = buttons ?? entry.buttons.collect ?? null %}
    {% set title = titel ?? entry.title %}
    {% set url = url ?? entry.url %}
    {% set text = text ?? entry.body %}
    {% set teaser = teaser ?? entry.teaser %}
    {% set image = image ?? entry.image.one ?? entry.featuredImage.one %}
    {% set template = template ?? entry.heroAreaTemplate %}
{% endif %}

{% set url = url ?? '' %}
{% set text = text ?? '' %}
{% set template = template ?? customConfig.heroTemplate %}
{% set fallbackTemplate = customConfig.heroFallbackTemplate ?? 'textonly' %}
{% set topHtml = topHtml ?? '' %}
{% set bottomHtml = bottomHtml ?? '' %}
{% set buttons = buttons ?? [] %}

{% set classes = {
    full: '',
    xl: 'max-w-screen-xl mx-auto mt-8 px-8'
} %}

<div class="{{ classes[customConfig.heroWidth] }}">
    {% if image %}
        {% include [
            "_layouts/partials/heroarea/#{template}",
            "_layouts/partials/heroarea/default.twig"
        ] %}
    {% else %}
        {% include [
            "_layouts/partials/heroarea/#{fallbackTemplate}",
            "_layouts/partials/heroarea/textonly",
        ] %}
    {% endif %}
</div>


