{# Displays hero area with optional CTA button #}

{# @param image Asset Background image #}
{# @param title String Title text #}
{# @param text String Text #}
{# @param url String optional Url for CTA button #}
{# @param caption String Text for CTA button #}
{# @param teaser String optional Small text above Title #}

{% set config = craft.app.config.custom %}

{% set url = url ?? '' %}
{% set caption = caption ?? '' %}
{% set text = text ?? '' %}
{% set template = template ?? config.heroTemplate %}
{% set fallbackTemplate = config.heroFallbackTemplate ?? 'textonly' %}
{% set topHtml = topHtml ?? '' %}
{% set bottomHtml = bottomHtml ?? '' %}

{% set classes = {
    full: '',
    xl: 'max-w-screen-xl mx-auto mt-8 px-8'
} %}

<div class="{{ classes[config.heroWidth] }}">
    {% if image %}
        {% include [
            "_layouts/partials/heroarea/#{template}",
            "_layouts/partials/heroarea/default.twig"
        ] %}
    {% else %}
        {% include [
            "_layouts/partials/heroarea/#{fallbackTemplate}",
            "_layouts/partials/heroarea/textonly",
        ] %}
    {% endif %}
</div>


