{# Displays hero area with optional CTA button #}

{# @param image Asset Background image #}
{# @param title String Title text #}
{# @param tagline String Subtitle text #}
{# @param url String optional Url for CTA button #}
{# @param caption String Text for CTA button #}
{# @param teaser String optional Small text above Title #}

{% set config = craft.app.config.custom %}

{% set url = url ?? '' %}
{% set caption = caption ?? '' %}
{% set template = template ?? config.heroTemplate %}
{% set fallbackTemplate = config.heroFallbackTemplate ?? 'textonly' %}

{% set classes = {
    full: '',
    xl: 'max-w-screen-xl mx-auto mt-8 px-8'
} %}

<div class="{{ classes[config.heroWidth] }}">
    {% if image %}
        {% include "_layouts/partials/heroarea/#{template}" %}
    {% else %}
        {% include "_layouts/partials/heroarea/#{fallbackTemplate}" %}
    {% endif %}
</div>


