{# Display Page Title / Tagline / Featured Image #}

{# @param entry Entry optional if title/tagline are set #}
{# @param title String optional if entry is set #}
{# @param tagline String optional='' if entry is set #}
{# @param alignTitle String optional=left Title align and color #}

{% from '_layouts/macros/lib.twig' import img %}

{% set alignTitle = alignTitle ?? 'left' %}
{% set tagline = tagline ?? '' %}

{% if entry is defined %}
    {% set title = entry.title %}
    {% set tagline = entry.tagline %}
{% endif %}

{% set titleClasses = {
    left: 'text-primary dark:text-primary-dark',
    center: 'text-center'
} %}


{% include '_layouts/partials/headline.twig' with {
    text: title,
    tag: 'h1',
    extraClasses: 'mt-12'
} only %}


{% if tagline %}
    <div class="mt-8 text-xl">
        {{ tagline }}
    </div>
{% endif %}
