{% from '_layouts/macros/lib.twig' import icon %}

{% set links = siteInfo.socialLinks %}

{% if links %}
    <div class="flex space-x-4">
        {% for link in links %}
            <a href="{{ link.socialLink }}" class="text-footer-foreground dark:text-footer-foreground-dark">
                <span class="sr-only">{{ link.socialPlatform }}</span>
                {{ icon(link.socialPlatform) }}
            </a>
        {% endfor %}
    </div>
{% endif %}
