{# @param links array socialLinks #}


{% from '_layouts/macros/lib.twig' import icon %}

{% if links %}
    <address class="flex space-x-4 rtl:space-x-reverse">
        {% for link in links %}
            <a href="{{ link.socialLink }}" class="{{ classes ?? '' }}">
                <span class="sr-only">{{ link.socialPlatform }}</span>
                {{ icon(link.socialPlatform) }}
            </a>
        {% endfor %}
    </address>
{% endif %}
