{# @param links array socialLinks #}


{% from '_layouts/macros/lib.twig' import icon %}

{% if links %}
    <div class="flex space-x-4">
        {% for link in links %}
            <a href="{{ link.socialLink }}" class="{{ classes ?? '' }}">
                <span class="sr-only">{{ link.socialPlatform }}</span>
                {{ icon(link.socialPlatform) }}
            </a>
        {% endfor %}
    </div>
{% endif %}
