{% set id = craft.app.request.param('id') %}
{% set siteId = craft.app.request.param('siteId') %}
{% set entry = craft.app.entries.entryById(id, siteId) %}

{% if not currentUser or not entry.canSave(currentUser) %}
    {% exit 404 %}
{% endif %}

{% extends "_layouts/main.twig" %}



{% block content %}


    <div>
        {% include "_layouts/partials/contentcomponents/#{entry.type.handle}.twig" with {
            entry
        } only %}
    </div>

{% endblock %}