{% set id = craft.app.request.param('id') %}
{% set siteId = craft.app.request.param('siteId') %}
{% set entry = craft.app.entries.entryById(id, siteId) %}

{% if not currentUser or not entry.canSave(currentUser) %}
    {% exit 404 %}
{% endif %}

{% extends "_layouts/main.twig" %}

{% block heroArea %}
    {% set heroEntry = entry %}

    {% set image =  heroEntry.heroImage.one %}
    {% set ctaButtons = heroEntry.ctaButtons.collect %}

    {% include '_layouts/partials/hero-area-display.twig' with {
        image,
        title: heroEntry.title,
        text: heroEntry.heroText,
        teaser: heroEntry.heroTeaser,
        buttons: ctaButtons|map(button => {
            url: button.ctaTarget.one.url ?? '',
            caption: button.ctaCaption ?? button.ctaTarget.one.title ?? 'Read more'|t,
            primary: button.primary
        }),
        template: heroEntry.heroAreaTemplate
    } only %}
{% endblock %}

{% block content %}
    {% embed '_layouts/embeds/content-md.twig' with {showHeader: false} %}
        {% block content %}

            {% include '_layouts/partials/headline.twig' with {
                text: 'Hero Area Preview'
            } only %}

            {% for i in 0..4 %}
                <div class="mt-8">
                    Aliquam erat volutpat. Cras id dui. Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Praesent ac massa at ligula laoreet iaculis.
                </div>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}