{% extends "_layouts/main.twig" %}


{% if not craft.app.request.isPreview and not currentUser %}
    {% exit 403 'Preview is not allowed in this context.'|t %}
{% endif %}

{% set id = craft.app.request.requiredQueryParam('id') %}
{% set siteId = craft.app.request.requiredQueryParam('siteId') %}
{% set showMetaData = craft.app.request.queryParam('showMetaData', 0) %}

{% set entry = craft.app.entries.entryById(id, siteId) %}

{% if not entry %}
    {% exit 404 'Entry not found.'|t %}
{% endif %}


{% block contentWrapper %}

    {% embed '_layouts/embeds/container-xl.twig' %}
        {% block content %}

            <div class="my-12 space-y-8">

                {% include '_layouts/partials/cards.twig' with {
                    heading: 'Preview Card'|t,
                    entries:  collect([entry]),
                    paginate: false,
                    layout: 'card',
                    showMetaData
                } only %}

                {% include '_layouts/partials/cards.twig' with {
                    heading: 'Preview Cardlet'|t,
                    entries:  collect([entry]),
                    paginate: false,
                    layout: 'cardlet',
                    showMetaData
                } only %}

            </div>
        {% endblock %}
    {% endembed %}


{% endblock %}