{# Show paginated articles #}
{% embed '_layouts/embeds/container-xl.twig' %}
    {% block content %}
        <div class="mt-8">
            {# TODO: Check eager loading author, does not work this way #}
            {% include '_layouts/partials/cards.twig' with {
                heading: 'Articles'|t,
                query:  craft.entries
                    .section('article')
                    .with([
                        'author',
                        'author.photo',
                        'persons',
                        'persons.photo'
                    ]),
                paginate: true,
                layout: 'card',
                showMetaData: true
            } only %}
        </div>
    {% endblock %}
{% endembed %}
