.DS_Store
/.env
/.idea
/node_modules
/templates/test
/vendor
/volumes/userphotos
/volumes/temp
/volumes/images/*
!/volumes/images/starter
!/volumes/images/icons/starter
!/volumes/images/photos/starter
/web/assets/dist
/web/assets/pdf
/web/assets/site
/web/assets/transforms
/web/cache
/web/cpresources
/web/files
/config/license.key
!/.ddev/nginx_full/nginx-site.conf
