{# Additional content for cards #}

{# @param entry Entry The entry display in the card #}

{% embed '_layouts/embeds/card-text.twig' %}
    {% block content %}
        <div class="line-clamp-2">
            {{ entry.cardText ?: entry.tagline }}
        </div>
    {% endblock %}
{% endembed %}
