{% if images %}
    <div class="">

        {% embed '_sections/news_story/includes/container.twig' %}
            {% block content %}
                {% from '_layouts/macros/lib.twig' import img %}

                <div class="py-8">
                    <div class="font-semibold text-xl">
                        {{ 'Copyright for images'|t }}
                    </div>
                    
                    {% set imagesByCopyright = images|filter(image => image.copyright)|group(image => image.copyright) %}

                    
                    <div class="mt-8 space-y-4">
                        {% for copyright, images in imagesByCopyright %}
                                <div class="flex items-center">
                                    <div class="flex flex-wrap space-x-1">
                                        {% for image in images %}
                                            {{ img(image, {
                                                transform: {width: 60, height: 40}
                                            }) }}
                                        {% endfor %}
                                    </div>
                                    <div class="ml-4">
                                       &copy; {{ copyright }}
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}

    </div>
{% endif %}