{% extends "_layouts/main.twig" %}

{% block contentWrapper %}

    {% if not craft.app.request.isPreview and not currentUser %}
        {% exit 403 'Preview is not allowed in this context.'|t %}
    {% endif %}

    {% switch entry.section.handle %}

    {% case "heroArea" %}

        {% include '_layouts/partials/hero-area-display.twig' with {
            entry
        } only %}

        {% embed '_layouts/embeds/container-md.twig' %}

            {% block content %}

                {% include '_layouts/partials/headline.twig' with {
                    text: 'Preview',
                    extraClasses: 'mt-12'
                } only %}

                {% for i in 0..2 %}
                	<div>
                        <div class="my-8">
                            Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Vestibulum volutpat pretium libero. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Praesent adipiscing. Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor.
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}


    {% default %}

        {% embed '_layouts/embeds/container-md.twig' %}

            {% block content %}

                {% include '_layouts/partials/headline.twig' with {
                    text: 'Preview',
                    extraClasses: 'mt-12'
                } only %}
            {% endblock %}
        {% endembed %}

        <div class="my-8">
            {% include [
                "_partials/contentcomponents/#{entry.section.handle}_#{entry.type.handle}.twig",
                "_partials/contentcomponents/#{entry.section.handle}.twig"
            ] with {
                entry
            } only %}
        </div>

    {% endswitch %}
    
{% endblock %}