{# Article Page #}

{% set featuredImage = entry.featuredImage.one() ?? siteInfo.featuredImage.one() %}

{% block heroArea %}

    {% if featuredImage %}
        <div class="mb-16">
            {% include '_layouts/partials/hero-area-display.twig' with {
                teaser: entry.teaser,
                image: featuredImage,
                title: entry.title,
                text: entry.tagline,
            } only %}
        </div>
    {% endif %}

{% endblock %}


{% embed '_layouts/embeds/container-md.twig' with {tag: 'section'} %}
    {% block content %}
        {% include '_partials/meta.twig' with {
            entry,
            breadcrumpQueries: [entry.topics]
        } only %}
    {% endblock %}
{% endembed %}

<section>
    {% include '_layouts/partials/content-blocks.twig' with {
        query: entry.bodyContent
    } only %}
</section>

{% embed '_layouts/embeds/container-md.twig' with {tag: 'section'} %}
    {% block content %}
        {# Related Entries #}
        {% include '_layouts/partials/cards.twig' with {
            heading: '{count,plural,=1{Related Entry} other{Related Entries}}',
            query: craft.entries.relatedTo({element: entry, field: 'relatedEntries'}).orderBy('title'),
            wide: false
        } only %}
    {% endblock %}
{% endembed %}

{% embed '_layouts/embeds/container-xl.twig' %}
    {% block content %}
        {% include '_layouts/partials/entry-nav-channel.twig' with {
            entry,
            criteria: {section: 'article'}
        } only %}
    {% endblock %}
{% endembed %}


