{# Accordion Alpine component #}

{# https://alpinejs.dev/component/accordion #}

{# @param items Array with keys heading/panel #}

<div x-data="{ active: 0 }" class="space-y-4">

    {% for item in items %}
        <div x-data="{
        id: {{ loop.index }},
        get expanded() {
            return this.active === this.id
        },
        set expanded(value) {
            this.active = value ? this.id : null
        },
    }" role="region" class="border border-gray-400 bg-background dark:bg-background-dark">
            <h2>
                <button
                        @click="expanded = !expanded"
                        :aria-expanded="expanded"
                        class="flex items-center justify-between w-full font-bold text-xl px-4 py-3"
                >
                    <span>{{ item.heading }}</span>
                    <svg fill="currentColor" viewBox="0 0 20 20"
                         aria-hidden="true"
                         :class="expanded ? 'rotate-180' : 'rotate-0'"
                         class="inline w-6 h-6 transform transition-transform">
                        <path fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </h2>

            <div x-show="expanded" x-collapse style="display: none">
                {% embed '_layouts/embeds/prose.twig' with {extraClasses: 'p-4'} %}
                    {% block content %}
                        {{ item.panel|raw }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    {% endfor %}

</div>