{# https://alpinejs.dev/component/modal #}

{# @param caption String Button caption #}
{# @param heading String Heading for modal #}
{# @param closeCaption String Caption for close button #}

{% set caption = caption ?? 'Open modal'|t %}
{% set closeCaption = closeCaption ?? 'Close'|t %}

<div x-data="{ open: false }" class="flex justify-start not-prose">
    <!-- Trigger -->
    <span x-on:click="open = true">

        {% include '_layouts/partials/button.twig' with {
        	caption: caption,
            tag: 'button'
        } only %}

    </span>

    <!-- Modal -->
    <div
            x-show="open"
            style="display: none"
            x-on:keydown.escape.prevent.stop="open = false"
            role="dialog"
            aria-modal="true"
            x-id="['modal-title']"
            :aria-labelledby="$id('modal-title')"
            class="fixed inset-0 z-10 overflow-y-auto"
    >
        <!-- Overlay -->
        <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>

        <!-- Panel -->
        <div
                x-show="open" x-transition
                x-on:click="open = false"
                class="relative flex min-h-screen items-center justify-center p-4"
        >
            <div
                    x-on:click.stop
                    x-trap.noscroll.inert="open"
                    class="relative w-full max-w-3xl overflow-y-auto rounded bg-background dark:bg-gray-700 p-12 shadow-lg  border border-primary dark:border-primary-dark"
            >
                <!-- Title -->
                <h2 class="text-3xl font-bold mt-0" :id="$id('modal-title')">{{ heading }}</h2>

                <!-- Content -->
                <div class="mt-2">
                    {% block content %}
                        
                    {% endblock %}
                </div>

                <!-- Buttons -->
                <div class="mt-8 flex space-x-2 rtl:space-x-reverse justify-end">
                    {% block buttons %}
                        {% include '_layouts/partials/button.twig' with {
                            caption: closeCaption,
                            xOnClick: "open = false",
                            tag: 'button'
                        } only %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>