{# Scroll to top Alpine Component #}

{% from '_layouts/macros/lib.twig' import icon %}

<div x-data="{
        show: false,
        top() {
            document.getElementById('body').scrollIntoView({behavior: 'smooth'});
        },
        scroll() {
            this.show = (document.body.scrollTop > 120 || document.documentElement.scrollTop > 120)
        }
     }"
     @scroll.window="scroll()">

    <button class="fixed px-4 py-2 z-50 bottom-4 right-4 bg-secondary rounded text-white"
            style="display: none"
            aria-label="{{ "Scroll to top"|t }}"
            x-show="show" x-transition
            @click="top()" title="Go to top" accesskey="t">
        {{ icon('chevron-up') }}
    </button>

</div>