{# https://alpinejs.dev/component/toggle #}

{# @param name String Name for form input #}
{# @param label String Label for form input #}
{# @param value Bool Value for form input #}

{% set name = name ?? 'toggle' %}
{% set label = label ?? 'Toggle Value' %}
{% set value = value is defined and value ? 'true' : 'false' %}

<!-- Toggle -->
<div
        x-data="{
            value: {{ value }}
        }"
        class="flex items-center justify-start"
        x-id="['toggle-label']"
>
    <input type="hidden" name="{{ name }}" :value="value">

    <!-- Label -->
    <label
            @click="$refs.toggle.click(); $refs.toggle.focus()"
            :id="$id('toggle-label')"
            class="text-gray-900"
    >
        {{ label }}
    </label>

    <!-- Button -->
    <button
            x-ref="toggle"
            @click="value = ! value"
            type="button"
            role="switch"
            :aria-checked="value"
            :aria-labelledby="$id('toggle-label')"
            :class="value ? 'bg-primary border-2 border-white' : 'bg-white border-2 border-primary'"
            class="relative ms-4 inline-flex w-14 rounded-full py-1 px-0 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-primary"
    >
        <span
                :class="value ? 'bg-white translate-x-8' : 'bg-primary translate-x-1'"
                class="h-4 w-4 rounded-full transition"
                aria-hidden="true"
        ></span>
    </button>
</div>