{# Stripped down version of default.twig, less obtrusive if just featuring an other entry #}


{% from '_layouts/macros/lib.twig' import img %}
{% from '_layouts/macros/lib.twig' import imgCopyright %}

{% set handleCopyright = craft.app.config.custom.handleCopyright %}

<div class="relative">
    <div class="max-w-full">

        {% embed '_layouts/embeds/cover-image.twig' with {
            image,
            transform: config.heroTransform[config.heroWidth],
            srcset: config.heroSrcSet[config.heroWidth],
            attr: {
                loading: null,
                fetchpriority: 'high'
            }
        } %}

            {% block content %}
                <div class="max-w-screen-md mx-auto relative text-center px-4 py-8 sm:px-6 sm:py-12 lg:py-20 lg:px-8">

                    {% if teaser is defined and teaser %}
                        <div class="mb-2">
                            {{ teaser }}
                        </div>
                    {% endif %}
                    <h1 class="text-2xl font-headings font-semibold tracking-wider sm:text-3xl lg:text-4xl">

                        <span class="block">{{ title }}</span>

                    </h1>

                    {% if text %}
                        <div class="prose text-white mt-4 max-w-lg mx-auto tracking-wider sm:max-w-3xl">
                            {{ text|md|purify }}
                        </div>
                    {% endif %}

                    {% include '_layouts/partials/heroarea/_ctabuttons.twig' with {
                        buttons,
                        primaryColor: 'primary',
                        secondaryColor: 'white',
                        classes: 'mt-8 flex justify-center'
                    } only %}

                </div>
            {% endblock %}

        {% endembed %}

    </div>
</div>