<div class="max-w-screen-md mx-auto relative px-4 py-16">
    {% if teaser is defined and teaser %}
        <div class="mb-4 text-center text-primary dark:text-primary-dark text-lg">
            {{ teaser }}
        </div>
    {% endif %}

    <h1 class="text-center text-5xl font-headings font-semibold tracking-wider md:5xl sm:text-7xl lg:text-7xl">

        <span class="block text-primary dark:text-primary-dark">{{ title }}</span>

    </h1>
    <p class="mt-6 max-w-lg mx-auto text-center text-xl tracking-wider text-primary dark:text-primary-dark sm:max-w-3xl">
        {{ tagline }}
    </p>

    {% if url and caption %}
        <div class="mt-8 flex justify-center">
            {% include '_layouts/partials/button.twig' with {
                caption: caption,
                href: url,
                color: 'primary'
            } only %}
        </div>
    {% endif %}

</div>