<div class="max-w-screen-md mx-auto px-8 my-16 text-center">
    <div class="text-lg max-w-screen-sm mx-auto">
        {{ entry.tagline }}
    </div>
    <div class="mt-8 text-6xl">
        {{ entry.title }}
    </div>
    <div class="mt-12">
        {% include '_sections/news_story/includes/meta.twig' %}
    </div>
</div>