{# Show FAQs page content #}

{% embed '_layouts/embeds/content-md.twig' %}
    {% block contentBottom %}
        <div class="mt-8">
            {% include '_partials/faqs.twig' with {query: entry.faqs} only %}
        </div>
    {% endblock %}
{% endembed %}
