{% from '_layouts/macros/lib.twig' import icon %}
<div class="-mr-2">
    <button @click="open=false"
            type="button"
            class="bg-secondary rounded-md p-2 inline-flex items-center justify-center text-light hover:text-background hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
    >
        <span class="sr-only">Close menu</span>
        {{ icon('close') }}
    </button>
</div>