{% from '_layouts/macros/lib.twig' import navLink %}

{% for navEntry in navEntries|filter(e => e.level == 2) %}

    {% set active = craft.app.request.segment(1) == navEntry.slug %}

    {% set children = navEntries|filter(e => e.parentId == navEntry.id) %}

    {% if navEntry.type.handle == 'navItem' %}

        {% set navTemplate = navEntry.navItemTemplate ?? '_layouts/partials/nav/item.twig' %}

        {% include navTemplate with {
        	entry: navEntry,
            children,
            active,
            isDesktop: true
        } only %}

    {% else %}
        <div class="{{ children ? 'flex items-center' }}">
            {{ navLink(navEntry.menuTitle ?: navEntry.title, navEntry.url, active) }}

            {% if craft.app.config.custom.showChildrenInMainNav and children %}
                {% include '_layouts/partials/nav/item.twig' with {
                    children,
                    active,
                    isDesktop: true
                } only %}
            {% endif %}
        </div>

    {% endif %}

{% endfor %}