<div class="text-center">
    <a href="{{ siteUrl }}">
        {% if logo %}
            <img src="{{ logo.url({height: 64}) }}" class="h-16 w-auto hover:opacity-75"
                 alt="{{ siteInfo.title }}">
        {% else %}
            <div class="text-3xl font-bold">
                {{ siteInfo.title }}
            </div>
        {% endif %}

    </a>
</div>