{# Show news index page content #}

{# Show paginated news #}
{% embed '_layouts/embeds/content-xl.twig' %}
    {% block content %}
        <div class="mt-8">
            {% include '_layouts/partials/cards.twig' with {
                query:  craft.entries.section('news'),
                paginate: true,
                layout: 'card'
            } only %}
        </div>
    {% endblock %}
{% endembed %}