{# @var ids \Illuminate\Support\Collection #}

{# Reactive search component #}

{% import '_layouts/macros/forms.twig' as forms %}

{# Sets a default value if not defined by the `query` input field below #}
{% set query = query ?? '' %}

{# Show search query input (only on first call, do not replace on ajax calls #}
{% if sprig.isInclude %}


    <div class="mt-8">
        {{ forms.input({
            label: "Search for"|t,
            name: 'query',
            value: query,
            autofocus: true,
            extraAttr: {
                data: {
                    'sprig': true,
                    's-trigger': 'keyup changed delay:500ms',
                    's-replace': '#results'
                }
            }
        }) }}
    </div>


{% endif %}

{% set maxResults = craft.app.config.custom.searchMaxResults %}

<div id="results" class="mt-8">
    {% if query %}

        {# push query param to browser history #}
        {{ sprig.pushUrl("?query=#{query|e('url')}") }}


        {# set up search query #}
        {% set searchQuery = craft.entries
            .section(craft.app.config.custom.searchSections)
            .search(query)
            .limit(maxResults)
            .orderBy('score') %}

        {# count all hits #}
        {% set count = searchQuery.count %}
        {% if count %}

            {# TODO: this has to be smarter, does not handle maxResults correctly #}
            {% set results = searchQuery.collect %}
            {% set entries = collect([]) %}

            {% for result in results %}
                {% if entries.count < maxResults %}
                    {% if result.url %}
                        {% if not entries.firstWhere('id', result.id) %}
                            {% set entries = entries.push(result) %}
                        {% endif %}
                    {% else %}
                        {# found an embeded section, look for usages #}
                        {% set relatedEntries = craft.entries.relatedTo({targetElement: result.id}).uri(':notempty:').collect %}
                        {% for relatedEntry in relatedEntries %}
                            {% if not entries.firstWhere('id', relatedEntry.id) %}
                                {% set entries = entries.push(relatedEntry) %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {# show maxResults results in cards layout #}
            {% include '_layouts/partials/cards.twig' with {
                entries: entries,
                highlight: query
            } only %}

            {# Display hint if there are more than maxResults hits #}
            {% if entries.count > maxResults %}
                <div class="mt-8 font-medium">
                    {{ "Showing top {maxResults} of {count}"|t({maxResults, count: entries.count}) }}
                </div>
            {% endif %}

            {% set imagesByCopyright = craft.project.getImagesForCopyrightNotice() %}
            {% if imagesByCopyright.count %}
                <div class="">
                    {% include '_layouts/partials/footer-copyright.twig' with {
                        imagesByCopyright
                    } only %}
                </div>
            {% endif %}

        {% else %}
            {# Sorry... #}
            {{ "No results"|t }}
        {% endif %}
    {% endif %}
</div>