{% set entries = block.contentSection.collect %}

{% for entry in entries %}
	<div class="not-prose">
        {% include "_layouts/contentcomponents/#{entry.type.handle}" with {
            block,
            entry
        } only %}
    </div>
{% endfor %}