{# Display headings block #}

{% set style = block.style ?? 'default' %}


{% switch style %}

{% case "headline" %}

    {% include '_layouts/partials/headline.twig' with {
    	text: block.text
    } only %}


{% default %}

    <h2 class="text-2xl font-semibold">{{ block.text }}</h2>

{% endswitch %}


