{# Display quote block #}

<blockquote class="not-prose py-4">
    <p class="text-3xl font-bold mb-8 leading-relaxed">
        {{ block.text|quote }}
    </p>
    {% if block.cite %}
        <cite class="not-italic">
            {{ block.cite }}
        </cite>
    {% endif %}
</blockquote>