{# Display youtube video block #}


{% if block.key %}

    {% embed '_layouts/components/alpinejs/external-media-consent.twig' with {
        heading: block.heading,
        caption: "Show the video"|t,
        textKey: 'youtubeconsent',
        externalLink: "https://www.youtube.com/watch?v=#{block.key}"
    } %}

        {% block content %}
            {% if block.text %}
                <div class="mb-8">
                    {{ block.text|md|purify }}
                </div>
            {% endif %}
        {% endblock %}

        {% block media %}

            {% set aspectRatio = block.aspectRatio.value ?? '16:9' %}


            {% set class = {
                '16:9' : 'aspect-video',
                '4:3' : 'aspect-4/3'
            } %}

            <iframe class="w-full {{ class[aspectRatio] }}"
                    src="https://www.youtube-nocookie.com/embed/{{ block.key }}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        {% endblock %}

    {% endembed %}

{% endif %}

<div class="aspect-au">

</div>