{# @param entry Entry the content component entry #}
{# Alternatively, individual parameters can be passed. #}

{% if entry is defined %}
    {% set title = entry.title %}
    {% set persons = entry.persons.collect %}
{% endif %}


{% from '_layouts/macros/lib.twig' import img %}

{% set handleCopyright = customConfig.handleCopyright %}

<section class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="space-y-12">

        {% include '_layouts/partials/headline.twig' with {
            text: title
        } only %}

        <ul role="list"
            class="space-y-12 lg:grid lg:grid-cols-2 lg:items-start lg:gap-x-8 lg:gap-y-12 lg:space-y-0">
            {% for person in persons %}
                {% set image = person.photo.one %}
                <li>
                    <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-6 sm:space-y-0 lg:gap-8">
                        {% if image %}
                            <div class="aspect-w-3 aspect-h-2 h-0 sm:aspect-w-3 sm:aspect-h-4 ">
                                {{ img(image, {
                                    transform: {width: 300, height: 400},
                                    handleCopyright: handleCopyright == 'show' ? 'overlay' : 'register',
                                    attr: {
                                        class: 'rounded-lg object-cover shadow-lg'
                                    }
                                }) }}
                            </div>
                        {% endif %}
                        <div class="sm:col-span-2">
                            <div class="space-y-4">
                                <div class="space-y-1 leading-6">
                                    <h3 class="font-semibold text-lg">{{ person.title }}</h3>
                                    <div class="text-gray-700 dark:text-gray-300">{{ person.teaser }}</div>
                                </div>
                                <div>
                                    <div class="text-gray-700 leading-7 dark:text-gray-200">
                                        {{ person.body|md|purify }}
                                    </div>
                                </div>
                                <div>
                                    {% include '_layouts/partials/social-icons.twig' with {links: person.socialLinks} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </div>
</section>


