{% from '_layouts/macros/lib.twig' import img %}

{# @param entry Entry the content component entry #}
{# Alternatively, individual parameters can be passed. #}

{% if entry is defined %}
    {% set image = entry.image.one %}
    {% set teaser = entry.teaser %}
    {% set title = entry.title %}
    {% set query = entry.bodyContent %}
{% endif %}

{% set image = image ?? null %}
{% set title = title ?? '' %}
{% set teaser = teaser ?? '' %}

<div class="overflow-hidden bg-white dark:bg-background-dark">
    <div class="relative mx-auto max-w-7xl py-16 px-6 lg:px-8">
        <div class="absolute top-0 bottom-0 left-3/4 hidden w-screen bg-gray-50 dark:bg-gray-700 lg:block"></div>
        <div class="max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
            <div>
                {% if entry.teaser %}
                    <div class="mb-2 text-lg font-semibold text-gray-600 dark:text-gray-200">{{ teaser }}</div>
                {% endif %}

                {% include '_layouts/partials/headline.twig' with {
                	text: title
                } only %}
            </div>
        </div>
        <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
            <div class="relative lg:col-start-2 lg:row-start-1">
                <svg class="absolute top-0 right-0 -mt-20 -me-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                    <defs>
                        <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
                </svg>
                <div class="relative  text-base lg:max-w-none">
                    {% if image %}
                        <figure>
                            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">

                                {{ img(image, {
                                    transform: {width: 1200, height: 1400},
                                    attr: {
                                        class: 'rounded-lg object-cover object-center shadow-lg'
                                    }
                                }) }}
                            </div>
                            {% if image.copyright %}
                                <figcaption class="mt-3 flex text-sm text-gray-500">
                                    <!-- Heroicon name: mini/camera -->
                                    <svg class="h-5 w-5 flex-none text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                                    </svg>
                                    <span class="ms-2">{{ image.copyright }}</span>
                                </figcaption>
                            {% endif %}
                        </figure>
                    {% endif %}
                </div>
            </div>
            <div class="mt-8 lg:mt-0">
                {% include '_layouts/partials/content-blocks.twig' with {
                	query,
                    padding: false
                } only %}
            </div>
        </div>
    </div>
</div>
