{# Displays Main Navigation (Level 2 Pages) #}

{# @param entry Entry Set by Craft #}

{% from '_layouts/macros/lib.twig' import navLink %}
{% from '_layouts/macros/lib.twig' import navLinkClasses %}

{# Use children of homepage for main navigation, show level 3 entries in dropdown #}
{% set homePage = entry.isHomepage ? entry : craft.entries.section('page').type('home').one %}
{% set navEntries = homePage.descendants.level('<=3').collect ?? [] %}

{% set localizedEntries = entry.localized.collect %}
{% set logo = siteInfo.logo.one %}

{# No query params for site switcher if reactive content #}
{% set queryParams = entry.type == 'search' ? null : craft.app.request.queryParams %}

{# Alpine Component #}
<div class="relative bg-header" x-data="{open: false}">

    <div class="mx-auto container px-4 md:px-8">
        <div class="flex justify-between items-center py-4 md:space-x-10">

            {# Site Logo #}
            <div class="flex justify-start text-white">
                {% include '_layouts/partials/nav-logo-desktop.twig' with {
                	logo
                } only %}
            </div>

            {# Menu Button #}
            <div class="-mr-2 -my-2 md:hidden">
                {% include '_layouts/partials/nav-mobile-menu-button.twig' %}
            </div>

            {# Desktop Nav #}
            <nav class="hidden md:flex items-center space-x-4">

                {% include '_layouts/partials/nav-items-desktop.twig' with {
                	navEntries
                } only %}

                {# Site Switcher #}
                {% include '_layouts/partials/nav-siteswitcher-desktop.twig' with {
                	localizedEntries,
                    queryParams
                } only %}

            </nav>
        </div>
    </div>

    {# Mobile Menu #}
    <div x-show="open"
         x-collapse
         @click.outside.prevent.stop="open=false"
         class="z-50 absolute top-0 inset-x-0 p-2 transition transform origin-top-right"
         style="display: none;">

        <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-primary divide-y-2 divide-secondary">
            <div class="pt-5 pb-6 px-5">
                <div class="flex items-center justify-between">

                    {# Site Logo #}
                    {% include '_layouts/partials/nav-logo-mobile.twig' with {
                    	logo
                    } only %}

                    {# Close Button #}
                    {% include '_layouts/partials/nav-close-button.twig' %}
                </div>

                <div class="mt-6">
                    <nav class="grid gap-y-8">

                        {% include '_layouts/partials/nav-items-mobile.twig' with {
                        	navEntries
                        } only %}

                    </nav>
                </div>
            </div>

            {# Site Switcher #}
            <div class="py-6 px-5 space-y-6">
                {% include '_layouts/partials/nav-siteswitcher-mobile.twig' with {
                	localizedEntries,
                    queryParams
                } only %}
            </div>

        </div>
    </div>
</div>
