{# Show home page content #}

{% embed '_layouts/embeds/content-xl.twig' %}
    {% block content %}
        {% from '_layouts/macros/lib.twig' import pageButton %}

        {% include '_layouts/partials/blocks.twig' with {
            query: entry.bodyContent
        } only %}

        {# Display Latest News #}
        <div class="mt-16">

            {% include '_layouts/partials/cards.twig' with {
                query: craft.entries
                    .section('news')
                    .limit(craft.app.config.custom.latestNewsLimit),
                heading: "Latest News"
            } only %}

            {{ pageButton('newsIndex', 'See all News') }}

        </div>
    {% endblock %}
{% endembed %}
