{# Show home page content #}

{% embed '_layouts/embeds/content-xl.twig' with {showHeader: false} %}
    {% block content %}

        <div class="flex justify-center">
            {% include '_layouts/partials/blocks.twig' with {
                query: entry.bodyContent
            } only %}
        </div>

    {% endblock %}
{% endembed %}


{% include '_layouts/partials/contentsections.twig' with {
  query: entry.contentSections
} only %}
