{# Show home page content #}

<div class="flex justify-center">
    {% include '_layouts/partials/content-blocks.twig' with {
        query: entry.bodyContent
    } only %}
</div>


{% include '_layouts/partials/contentcomponents.twig' with {
  query: entry.contentComponents
} only %}
