<div class="mb-8">

    <div class="mb-16">
        {% set readingTime = estimatedReadingTime(blocks) %}
        {{ readingTime.minutes + 1 }} {{ 'min.'|t }} {{ 'reading time'|t }}
    </div>

    {% include '_partials/meta.twig' with {
        entry,
        style: 'none',
        breadcrumpQueries: [entry.topics]
    } only %}

</div>