{% if members %}
    <div class="">

        {% embed '_sections/article_story/includes/container.twig' %}
            {% block content %}
                {% from '_layouts/macros/lib.twig' import img %}

                <div>
                    <div class="font-semibold text-xl">
                        {{ 'Team'|t }}
                    </div>
                    <table class="table mt-8 space-y-4">
                        {% for member in members %}
                        	<tr class="h-8">
                                <td class="font-semibold italic pe-24">{{ member.teamRole }}</td>
                                <td class="italic">{{ member.teamName }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endblock %}
        {% endembed %}

    </div>
{% endif %}
