{% embed '_sections/article_story/includes/container.twig' %}
    {% block content %}
        <div class="font-serif text-4xl/normal">
            {% if block.style.contains('quoted') %}
                {{ block.text|quotationMarks }}
            {% else %}
                {{ block.text }}
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}

