{% from '_layouts/macros/lib.twig' import img %}
{% set image = block.image.one() %}

{% if image %}
    <div class="my-16 max-w-screen-lg mx-auto px-8">
        {{ img(image, {
            transform: {width: 1024, height: 600, format: 'webp'}
        }) }}
    </div>
{% endif %}