{% embed '_sections/article_story/includes/container.twig' %}
    {% block content %}
        <div class="font-serif text-xl/relaxed">
            {{ block.text|nl2br|parseRefs }}
        </div>
    {% endblock %}
{% endembed %}

