{% embed '_sections/news_story/includes/container.twig' %}
    {% block content %}
        <div class="font-serif text-4xl leading-normal">
            {% if block.style.contains('quoted') %}
                {{ block.text|quote }}
            {% else %}
                {{ block.text }}
            {% endif %}
        </div>
    {% endblock %}
{% endembed %}

