{% embed '_sections/article_story/includes/container.twig' %}
    {% block content %}
        <div class="text-center">
            {% if entry.teaser %}
                <div class="mb-4 text-lg max-w-screen-sm mx-auto">
                    {{ entry.teaser }}
                </div>
            {% endif %}
            <div class="text-6xl">
                {{ entry.title }}
            </div>
            {% if entry.tagline %}
                <div class="mt-8 text-lg max-w-screen-sm mx-auto">
                    {{ entry.tagline }}
                </div>
            {% endif %}

            <div class="mt-12">
                {% include '_sections/article_story/includes/meta.twig' %}
            </div>
        </div>
    {% endblock %}
{% endembed %}
